body{
    background-color: darkslategray;
    text-align: center;
    color: black;
    font-family: monospace;
}

a {
    color: cornsilk;
    text-decoration: none;
    border: 0;
    width: 88px;
    height: 31px;
}

a:hover{
    color: #ff6600;
    text-decoration: line;
}

main{
    text-align: left;
    margin: 20%;
    margin-right: 20%;
}

h2{
    text-align: center;
}

img{
    align: center;
}
figure{
    text-align: center;
    font-style: italic;
}