body{
    background-color: darkslategray;
    text-align: center;
    color: black;
    font-family: monospace;
}

a {
    color: cornsilk;
    text-decoration: none;
    border: 0;
    width: 88px;
    height: 31px;
}

a:hover{
    color: #ff6600;
    text-decoration: line;
}

main{
    text-align: left;
    margin: 20%;
    margin-right: 20%;
}

h2{
    text-align: center;
}

img{
    align: center;
}
figure{
    text-align: center;
    font-style: italic;
}



/* Add this to your existing CSS */
.navbar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #f8f9fa;
  color: #000;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f8f9fa;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 10px 12px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}