<nav>
    <a href="https://webpages.charlotte.edu/rgalavi2/">UNCC Webspace</a>
    |  |
    <a href="https://github.com/rgala302">Github</a>
    |  |
    <a href="https://github.com/rgala302/rgala302.github.io">Github.io </a>
    |  |
    <a href="https://github.com/rgala302/rgala302.github.io">Github.io Sub Folder</a>
    |  |
    <a href="https://www.codecademy.com/profiles/rgalavi">Code Academy</a>
    |  |
    <a href="https://www.freecodecamp.org/rgalavi">Free Code Camp</a>
    |  |
    <a href="https://www.linkedin.com/in/roberto-ramirez-4928a02b3/">LinkedIn</a>
</nav>
<p>Page Built by <a href="company-site/index.html">Gizelle Luxe Travels</a>&copy; 2025</p>
<P>Designed By <a href="../index.html">Roberto Galaviz</a>, <a href="https://www.freecodecamp.org/certification/rgalavi/responsive-web-design"><i>Certified in Responsive Web Design</i></a>
    , and <a href="https://www.freecodecamp.org/certification/rgalavi/javascript-algorithms-and-data-structures-v8"><i>Certified in JS</i></a></P>



