<h1> Roberto Galaviz || ITIS 3135</h1>
<nav>
    <a href="./">Home</a>
    |  |
    <a href="introduction.html">Introduction</a>
    |  |
    <a href="contract.html">Contract</a>
    |  |
    <a href="stuff/INDEX.html">Crappy</a>
    |  |
    <a href="website_evaluations.html">Evaluation</a>
    |  |
    <a href="tables.html">Tables</a>
    |  |
    <a href="byo_intro.html">BYO</a>
    |  |
    <a href="slideshow.html">Slide Show</a>
    |  |
    <a href="hobby/index.html">Hobby Site</a>
    |  |
    <a href="project_overview.html">Project Overview</a>
    |  |
    <a href="project-site/index.html">Project Site</a>
</nav>